.body, .nav {
    max-width: 1000px;
    margin: 60px auto;
	padding: 20px;
	box-sizing: border-box;
}
body, button, input, select {
	font-family: Helvetica;
}
button, input {
    border: 1px solid;
}
html {
	background: #171717;
}
hr {
    border: none;
    border-bottom: 1px solid black;
}
.nav {
	margin: 15px auto -48px auto;
	padding: 5px;
	text-align: center;
}
.nav li {
    display: inline-block;
    margin-right: 20px;
}
label {
    user-select: none;
}
fieldset {
    border: 1px solid currentcolor;
}
.small {
	font-size: 50%;
}
details {
	border-left: 1px solid currentColor;
	padding: 10px;
}
summary {
	cursor: pointer;
	user-select: none;
}
code {
	padding: 1px 3px;
	background: #fff;
	border-radius: 5px;
	font-size: 1.2em;
	user-select: all;
}