@font-face {
	font-family: renogare;
	src: url(renogare.otf);
}

body {
	background: linear-gradient(-25deg, #b180ff, #f1abff);
}

#output {
	width: 100%;
	height: auto;
}

textarea {
	width: 100%;
	resize: none;
}

select.fixed-width {
	width: 150px;
}

.multi-column {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}